<h1>Categorias de estaciones metereologicas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categoria_equipos.each do |categoria_equipo| %>
      <tr>
        <td><%= categoria_equipo.nombre %></td>
        <td><%= categoria_equipo.descripcion %></td>
        <td><%= link_to 'Show', categoria_equipo %></td>
        <td><%= link_to 'Edit', edit_categoria_equipo_path(categoria_equipo) %></td>
        <td><%= link_to 'Destroy', categoria_equipo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categoria equipo', new_categoria_equipo_path %>
