<h1>Listing sensors</h1>

<table>
  <thead>
    <tr>
      <th>Concentrador</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Estado</th>
      <th>Parametro</th>
      <th>Valor</th>
      <th>Uds</th>
      <th>Gis latitud</th>
      <th>Gis longitud</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sensors.each do |sensor| %>
      <tr>
        <td><%= sensor.Concentrador %></td>
        <td><%= sensor.nombre %></td>
        <td><%= sensor.descripcion %></td>
        <td><%= sensor.estado %></td>
        <td><%= sensor.parametro %></td>
        <td><%= sensor.valor %></td>
        <td><%= sensor.uds %></td>
        <td><%= sensor.gis_latitud %></td>
        <td><%= sensor.gis_longitud %></td>
        <td><%= link_to 'Show', sensor %></td>
        <td><%= link_to 'Edit', edit_sensor_path(sensor) %></td>
        <td><%= link_to 'Destroy', sensor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sensor', new_sensor_path %>
