<p id="notice"><%= notice %></p>

<p>
  <strong>Concentrador:</strong>
  <%= @sensor.Concentrador %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @sensor.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @sensor.descripcion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @sensor.estado %>
</p>

<p>
  <strong>Parametro:</strong>
  <%= @sensor.parametro %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @sensor.valor %>
</p>

<p>
  <strong>Uds:</strong>
  <%= @sensor.uds %>
</p>

<p>
  <strong>Gis latitud:</strong>
  <%= @sensor.gis_latitud %>
</p>

<p>
  <strong>Gis longitud:</strong>
  <%= @sensor.gis_longitud %>
</p>

<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Back', sensors_path %>
