<p id="notice"><%= notice %></p>

<p>
  <strong>Sensor:</strong>
  <%= @medida.Sensor %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @medida.fecha %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @medida.valor %>
</p>

<%= link_to 'Edit', edit_medida_path(@medida) %> |
<%= link_to 'Back', medidas_path %>
